<%- include('partials/header'); %>
	<%- include('partials/navigation'); %>

		<div class="container">
			<div class="jumbotron">
				<div>
					<div class="container">
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="thumbnail">
								<img src="<%=book.book_img %>.jpg" alt="Image of  <%=book.title %>">
							</div>
						</div>

						<div class="col-md-6 col-lg-8">
							<div class="product-title">
								<h2>
									<%= book.title  %>
								</h2>
							</div>
							<div id="bookauthor">
								<h3>By
									<a href="/author/<%=author.author_id%>">
										<%= author.name %>
									</a>
								</h3>
							</div>
							<div class="product-desc">
								<%= book.description  %>
							</div>
							<div class="product-rating">
									<% 
									const rating = ratingAverage;
									const starsTotal = 5;
									const starPercentage = rating / starsTotal * 100;

									// Round to nearest 10
									const starPercentageRounded = `${Math.round(starPercentage / 10) *
										10}%`;
									if(!ratingAverage) {
											ratingAverage = 0;
										}
										%>
									<div class="stars-outer">
											<div class="stars-inner" style="width: <%=starPercentageRounded%>"></div>
									</div>
								<%= Math.round(ratingAverage, -3) %>
							</div>
							<hr>
							<div class="product-price">Rs.
								<%= book.price  %>
							</div>
							<% if(book.quantity > 0) { var quantityZero = ""%>
								<div class="product-stock text-success">In Stock</div>

								<% }  else { var quantityZero = "disabled"%>

									<div class="product-stock text-danger">Out of Stock</div>
									<% } %>

										<hr>

										<div class="btn-group cart">
											<a href="/book/ISBN/<%=book.ISBN13%>/buynow">
												<button type="button" class="btn btn-success" <%=quantityZero%>>
													Buy now
												</button>
											</a>
										</div>

										<% var inWishlist = false; 
										if(currentUser && (JSON.stringify(currentUser.wishlist).includes(book._id))) {
											inWishlist = true
										} 
										%>
											<div class="btn-group wishlist">

												<a href="/book/ISBN/<%=book.ISBN13%>/addtowishlist">
													<button type="button" class="btn btn-danger">
														<% if(!inWishlist) { %>
															Add to wishlist
															<%} else { %>
																Remove from wishlist

																<%}%>
													</button>
											</div>



											<% var inReadlist = false; 
										if(currentUser && (JSON.stringify(currentUser.readlist).includes(book._id))) {
											inReadlist = true;
										} 
										%>
												<div class="btn-group readlist">
													<a href="/book/ISBN/<%=book.ISBN13%>/addtoreadlist">
														<button type="button" class="btn btn-primary">
															<% if(!inReadlist) { %>
																Add to readlist
																<% } else { %>
																	Remove from readlist

																	<%}%>
														</button>
													</a>
												</div>
						</div>
					</div>
				</div>

				<br>
				<br>
				<div class="container">
					<div class="col-md-12 product-info">
						<ul id="myTab" class="nav nav-tabs">

							<li class="active">
								<a href="#service-one" data-toggle="tab">DESCRIPTION</a>
							</li>
							<li>
								<a href="#service-two" data-toggle="tab">BOOK INFO</a>
							</li>
							<li>
								<a href="#service-three" data-toggle="tab">REVIEWS (<%= reviews.length %>)</a>
							</li>

						</ul>
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade in active" id="service-one">

								<section class="container product-info bg-info">

									<h4>Synopsis</h4>
									<p>
										<%= book.description  %>
									</p>
								</section>

							</div>
							<div class="tab-pane fade " id="service-two">

								<section class="container bg-info ">
									<h3>Book Information</h3>
									<p>Pages:
										<%= book.pages %>
									</p>
									<p>Publisher:
										<%= book.publisher %>
									</p>
									<p>Publish Date:
										<%= book.publish_date %>
									</p>
									<p>Genre:
										<%= book.genre %>
									</p>
									<p>Condition: New</p>
									<p>Type: Hardback</p>
								</section>
							</div>
							<div class="tab-pane fade" id="service-three">
								<section class="container">
									<div class="container">
										<div class="row">
											<h1 style="text-align: center; font-size: 15px;">Review
												<%= book.title %>
											</h1>
											<div style="width: 100%; margin: 25px auto;">
												<form action="/book/ISBN/<%=book.ISBN13%>/addreview" method="POST">
													<div class="form-group">
														<textarea rows="5" cols="20" class="form-control" type="text" name="reviewText" placeholder="text"> </textarea>
													</div>
													<div class="product-rating">
														<label> Rating: <input type="number" value="1" placeholder="Rate 1 - 5" name="rating" min="1" max="5" step="0.1"> </label>
													</div>
													<div class="form-group">
														<button class="btn btn-lg btn-primary btn-block">Submit</button>
													</div>
												</form>
											</div>
										</div>
									</div>
									<% reviews.forEach(review => { %>
										<div class="panel-group">
											<div class="panel panel-default">
												<div class="panel-heading">
													<%= review.user_id.username %>
														<div class="product-rating">
															<% 
															const rating = review.rating;
															const starsTotal = 5;
															const starPercentage = rating / starsTotal * 100;

															// Round to nearest 10
															const starPercentageRounded = `${Math.round(starPercentage / 10) *
																10}%`;
															%>
																<div class="stars-outer">
																	<div class="stars-inner" style="width: <%=starPercentageRounded%>"></div>
																</div>
														</div>
														<% if(currentUser && currentUser.username === review.user_id.username) {  %>
															<div class="pull-right"><a href="/book/ISBN/<%=book.ISBN13%>/deletereview" class="btn-danger btn btn-sm">Delete</a></div>
															<% } %>
												</div>
												<div class="panel-body">
													<p>
														<%= review.text %>
													</p>
												</div>
												<div class="panel-footer">
													<a class="review-date" href="#">
														<time class="timeago" datetime="<%=review.review_date.toISOString().toLocaleString() %>"><%= review.review_date.toISOString().toLocaleString() %> </time> 
													</a>
												</div>
											</div>

										</div>
										<% }); %>

								</section>
							</div>
						</div>
						<hr>
					</div>
				</div>
			</div>
		</div>



		<%- include('partials/footer'); %>