<%- include('partials/header'); %>
	<%- include('partials/navigation'); %>

		<div class="container">
			<div class="jumbotron">
				<div>
					<div class="container">
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="thumbnail">
								<img src="<%=book.book_img %>.jpg" alt="Image of  <%=book.title %>">
							</div>
						</div>

						<div class="col-md-6 col-lg-8">
							<div class="product-title">
								<h1>
									<%= book.title  %>
								</h1>
							</div>
							<div class="product-desc">
								<%= book.description  %>
							</div>
							<div class="product-rating">
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star gold"></i>
								<i class="fa fa-star-o"></i>
								<%= book.rating  %>
							</div>
							<hr>
							<div class="product-price">Rs.
								<%= book.price  %>
							</div>
							<% if(book.quantity > 0) { %>
								<div class="product-stock text-success">In Stock</div>

								<% }  else { %>

									<div class="product-stock text-danger">Out of Stock</div>
									<% } %>

										<hr>
										<div class="btn-group cart">
											<a href="/book/ISBN/<%=book.ISBN13%>/buynow">
												<button type="button" class="btn btn-success">
													Buy now
												</button>
											</a>
										</div>
										<div class="btn-group wishlist">
											<a href="/book/ISBN/<%=book.ISBN13%>/addtowishlist">
												<button type="button" class="btn btn-danger">
													Add to wishlist
												</button>
											</a>
										</div>

										<div class="btn-group readlist">
											<a href="/book/ISBN/<%=book.ISBN13%>/addtoreadlist">
												<button type="button" class="btn btn-info">
													Add to readlist
												</button>
											</a>
										</div>
						</div>
					</div>
				</div>

				<br>
				<br>
				<div class="container">
					<div class="col-md-12 product-info">
						<ul id="myTab" class="nav nav-tabs">

							<li class="active">
								<a href="#service-one" data-toggle="tab">DESCRIPTION</a>
							</li>
							<li>
								<a href="#service-two" data-toggle="tab">BOOK INFO</a>
							</li>
							<li>
								<a href="#service-three" data-toggle="tab">REVIEWS</a>
							</li>

						</ul>
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade in active" id="service-one">

								<section class="container product-info">

									<h4>Synopsis</h4>
									<p>
										<%= book.description  %>
									</p>
								</section>

							</div>
							<div class="tab-pane fade" id="service-two">

								<section class="container">
									<h3>Book Information</h3>
									<p>Pages: <%= book.pages %> </p>
									<p>Publisher: <%= book.publisher %> </p>
									<p>Publish Date: <%= book.publish_date %> </p>
									<p>Genre: <%= book.genre %> </p>
									<p>Condition: New</p>
									<p>Type: Hardback</p>
								</section>

							</div>
							<div class="tab-pane fade" id="service-three">

								<section class="container">

									<div class="panel-group">
										<div class="panel panel-default">
											<div class="panel-heading">
												Random User
												<div class="product-rating">
													<i class="fa fa-star gold"></i>
													<i class="fa fa-star gold"></i>
													<i class="fa fa-star gold"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
											</div>
											<div class="panel-body">
												<p>
													A mock review on this amazing book defining all its amazing capabilites, highligting all its features that won't stop giving
													joy. But for some reason will still rate it horribly. Here's some Lorem ipsum dolor sit amet consectetur adipisicing
													elit. Ipsum, itaque labore iusto voluptatem pariatur omnis exercitationem dolor quos consectetur distinctio
													quis earum aut praesentium culpa nihil quas repudiandae quasi officia.
												</p>
											</div>
											<div class="panel-footer">
												<a class="review-date" href="#">
													<time datetime="2018-01-5T20:00">2018-01-5 20:00</time>
												</a>
											</div>
										</div>

									</div>

									<div class="panel-group">
										<div class="panel panel-default">
											<div class="panel-heading">
												Random User
												<div class="product-rating">
													<i class="fa fa-star gold"></i>
													<i class="fa fa-star gold"></i>
													<i class="fa fa-star gold"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
											</div>
											<div class="panel-body">
												<p>
													A mock review on this amazing book defining all its amazing capabilites, highligting all its features that won't stop giving
													joy. But for some reason will still rate it horribly. Here's some Lorem ipsum dolor sit amet consectetur adipisicing
													elit. Ipsum, itaque labore iusto voluptatem pariatur omnis exercitationem dolor quos consectetur distinctio
													quis earum aut praesentium culpa nihil quas repudiandae quasi officia.
												</p>
											</div>
											<div class="panel-footer">
												<a class="review-date" href="#">
													<time datetime="2018-01-5T20:00">2018-01-5 20:00</time>
												</a>
											</div>
										</div>

									</div>



									<div class="panel-group">
										<div class="panel panel-default">
											<div class="panel-heading">
												Random User
												<div class="product-rating">
													<i class="fa fa-star gold"></i>
													<i class="fa fa-star gold"></i>
													<i class="fa fa-star gold"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
											</div>
											<div class="panel-body">
												<p>
													A mock review on this amazing book defining all its amazing capabilites, highligting all its features that won't stop giving
													joy. But for some reason will still rate it horribly. Here's some Lorem ipsum dolor sit amet consectetur adipisicing
													elit. Ipsum, itaque labore iusto voluptatem pariatur omnis exercitationem dolor quos consectetur distinctio
													quis earum aut praesentium culpa nihil quas repudiandae quasi officia.
												</p>
											</div>
											<div class="panel-footer">
												<a class="review-date" href="#">
													<time datetime="2018-01-5T20:00">2018-01-5 20:00</time>
												</a>
											</div>
										</div>

									</div>



									<div class="panel-group">
										<div class="panel panel-default">
											<div class="panel-heading">
												Random User
												<div class="product-rating">
													<i class="fa fa-star gold"></i>
													<i class="fa fa-star gold"></i>
													<i class="fa fa-star gold"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
											</div>
											<div class="panel-body">
												<p>
													A mock review on this amazing book defining all its amazing capabilites, highligting all its features that won't stop giving
													joy. But for some reason will still rate it horribly. Here's some Lorem ipsum dolor sit amet consectetur adipisicing
													elit. Ipsum, itaque labore iusto voluptatem pariatur omnis exercitationem dolor quos consectetur distinctio
													quis earum aut praesentium culpa nihil quas repudiandae quasi officia.
												</p>
											</div>
											<div class="panel-footer">
												<a class="review-date" href="#">
													<time datetime="2018-01-5T20:00">2018-01-5 20:00</time>
												</a>
											</div>
										</div>

									</div>



									<div class="panel-group">
										<div class="panel panel-default">
											<div class="panel-heading">
												Random User
												<div class="product-rating">
													<i class="fa fa-star gold"></i>
													<i class="fa fa-star gold"></i>
													<i class="fa fa-star gold"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
											</div>
											<div class="panel-body">
												<p>
													A mock review on this amazing book defining all its amazing capabilites, highligting all its features that won't stop giving
													joy. But for some reason will still rate it horribly. Here's some Lorem ipsum dolor sit amet consectetur adipisicing
													elit. Ipsum, itaque labore iusto voluptatem pariatur omnis exercitationem dolor quos consectetur distinctio
													quis earum aut praesentium culpa nihil quas repudiandae quasi officia.
												</p>
											</div>
											<div class="panel-footer">
												<a class="review-date" href="#">
													<time datetime="2018-01-5T20:00">2018-01-5 20:00</time>
												</a>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
						<hr>
					</div>
				</div>
			</div>
		</div>



		<%- include('partials/footer'); %>